@page
@model KJ_ASP_Projekt.Pages.Admin.UsersListModel

@{
    ViewData["Title"] = "UserList";
}




<h1>User List</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].LastName)
            </th>
            <th>
                IsOrganizer
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @if (await Model._userManager.IsInRoleAsync(item, "organizer"))
                    {
                        <input id="@item.Id" type="checkbox" checked />
                    }
                    else
                    {
                        <input id="@item.Id" type="checkbox" />
                    }
                </td>
                <td>
                    <form method="post">
                        @if (await Model._userManager.IsInRoleAsync(item, "organizer"))
                        {
                        <input asp-route-id="@item.Id " type="submit" value="Unassign" class="btn btn-outline-danger" />
                        }
                        else
                        {
                         <input asp-route-id="@item.Id " type="submit" value="Assign" class="btn btn-outline-primary" />
                        }

                        
                    </form>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

